.edit .stick .ds4 {
    background: url(https://schoettner.github.io/skins/sticks-custom.png);
}


.edit .stick {
    position: absolute;
    background: url(https://schoettner.github.io/skins/sticks-custom.png);
}

